.edit-recipe__form {
  width: 90%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.edit-form__section {
  width: 100%;
  /* width:500px; */
  display: grid;
  /* grid-template-columns: minmax(120px, 20%) 1fr; */
  grid-template-columns: 20% 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: start;
}

.edit-recipe__form-buttons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.edit-form__input-label {
  margin-top: 20px;
  padding: 5px;
  /* width: 150px; */
  width: 100%;
}

.edit-form__input-title {
  padding: 15px;
  display: inline-block;
  margin-top: 25px;

  /* margin: 20px; */
  /* width: 500px; */
  width: 100%;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}

.edit-form__section-ingriedients {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.edit-form__input-ingriedients {
  padding: 15px;
  display: inline-block;
  margin-top: 25px;
  /* width: 500px; */
  width: 100%;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}

.edit-form__input-description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;

  /* width: 500px; */
  width: 100%;
  height: 500px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  display: inline-block;
  margin-top: 25px;
}

.edit-form__input-title:focus,
.edit-form__input-ingriedients:focus,
.edit-form__input-description:focus {
  border: 1px solid;
  border-color: var(--main-navbar-color);
}

.edit-recipe__button-del {
  width: 60px;
  background-color: var(--secondary-danger-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 20px;
}

.edit-recipe__button-discard,
.edit-recipe__button-add {
  background-color: var(--secondary-navbar-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
  margin-top: 25px;
}

.edit-recipe__button-discard:hover,
.edit-recipe__button-add:hover {
  background-color: var(--main-navbar-color);
  color: white;
}

.edit-recipe__button-remove {
  background-color: var(--secondary-danger-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
}
.edit-recipe__button-remove:hover {
  background-color: var(--main-danger-color);
  color: white;
}

.edit-recipe__button-save {
  background-color: var(--secondary-positive-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
}
.edit-recipe__button-save:hover {
  background-color: var(--main-positive-color);
  color: white;
}

.edit-recipe__input-checkbox {
  margin-top: 10px;
  width: 50px;
  height: 50px;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 2px solid var(--secondary-navbar-color);
  box-shadow: none;
  font-size: 2em;
}
.edit-recipe__input-checkbox:checked {
  background-color: var(--secondary-navbar-color);
}
.edit-recipe__input-checkbox:checked:after {
  content: "\2713";
  color: white;
  position: absolute;
  line-height: 1rem;
  font-size: 3rem;
  padding-left: 0.15rem;
}

@media (max-width: 960px) {
  .edit-form__section {
    width: 100%;
    /* width:500px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
  }
}

@media (max-width: 500px) {
  .edit-recipe__form-buttons {
    display: flex;
    flex-direction: column;
  }
}
