.big-recipe_background {
  width: 100%;
  min-height: 100vh;

  filter: blur(40px);
  -webkit-filter: blur(40px);
  position: fixed;
  background-repeat: repeat;
  left: 0px;
  top: 100px;
  background-size: 100% 100%;
  object-fit: cover;
}

.big-recipe {
  display: grid;

  grid-template-rows: 60vh 0.1fr 1fr;   
  grid-template-columns: 0.25fr 1fr;

  grid-template-areas:
    "a a"
    "b c"
    "d d";

  /* gap: 20px; */
  height: 100%;

  /* color: white; */
  /* text-transform: uppercase; */
  width: 90%;
  max-width: 900px;
  margin-top: 50px;

  margin-bottom: 50px;
  position: relative;
  background-image: var(--main-body-gradient);
  border-radius: 25px 25px 0px 0px ;
}

/* big-recipe__baner a */
/* big-recipe__info b */
/* big-recipe__ingriedients c */
/* big-recipe__main d */
.big-recipe__baner {
  grid-area: a;
  display: inline-grid;
  /* border-radius: 25px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border: 3px solid var(--secondary-navbar-color); */
  border-radius: 25px 25px 0px 0px ;
}

.big-recipe__baner-image {
  width: 100%;
  height: 60vh;
  /* height: 100%; */
  object-fit: cover;
  object-position: 50% 25%;
  /* background-image: var(--main-body-gradient); */
  /* border: 5px solid #7b718f; */
  /* padding: 5px; */
  border-radius: 25px 25px 0px 0px ;
}

.big-recipe__info {
  grid-area: b;
  display: inline-grid;
  /* border-radius: 25px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border: 3px solid var(--secondary-navbar-color); */
  /* background-image: var(--main-body-gradient); */
}

.big-recipe__info-title {
  display: block;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  text-transform: uppercase;
}

.big-recipe__info-author {
  display: block;
  font-size: 14px;
  margin: 10px;
  text-align: center;
}

.big-recipe__info-share {
  display: block;
  font-size: 16px;
  margin: 10px;
  text-align: center;
}

.big-recipe__button-edit {
  background-color: var(--secondary-navbar-color);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px auto;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 12px;
  text-transform: uppercase;
  height: 40px;
  width: 120px;
}

.big-recipe__button-edit:hover {
  background-color: var(--main-navbar-color);
  color: white;
}

.big-recipe__ingriedients {
  grid-area: c;
  display: inline-grid;
  /* border-radius: 25px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border: 3px solid var(--secondary-navbar-color); */
  /* background-image: var(--main-body-gradient); */
}

.big-recipe__ingriedients-list {
  margin: 0 auto;
  padding: 20px;
}

.big-recipe__main {
  grid-area: d;
  display: inline-grid;
  /* border-radius: 25px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border: 3px solid var(--secondary-navbar-color); */
  /* background-image: var(--main-body-gradient); */
}

.big-recipe__main-description {
  padding: 20px;
  line-height: 1.6;
  text-transform: none;
  text-align: justify;
  font-size: 16px;
  white-space: pre-line;
}

@media (max-width: 960px) {
  .big-recipe {
    grid-template-rows: 60vh 0.2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d";
  }
}

@media (max-width: 500px) {
  .big-recipe {
    grid-template-rows: 30vh 0.2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d";
  }
  .big-recipe__baner-image {

    height:30vh;
 
  }
}
