* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.header {
 position: fixed;
width:100%;
  top: 0;
  background-color: rgb(46, 45, 45);
  
}
.container {
  /* Content is centered horizontally */
 
  align-items: center;
  display: flex;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
}

li {
  display: inline-block;
}


.container__item--right {
  /* Sticks to the right */
  margin-left: auto;
  margin-right: 15px;

}

.container__item--center {
  /* Sticks to the right */
  margin: auto;

}

.container__item--logo {
  /* Sticks to the right */
  margin-right: auto;
  width: 80px;
  height: auto;
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 33px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid white;
}
.button2:hover {
  background-color: rgb(102, 102, 102);
  color: white;
  border-radius:10%;
}

.button1:hover {
  background-color: white;
  color: black;
}
