.recipe {
  background: #563879;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(77, 12, 71, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  flex: 0 0 auto;
  margin: 20px;
  width: 300px;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.recipe:hover {
  background: #6e2db9;
}

.recipe__title {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px;
}
.recipe__description {
  font-size: 14px;
  margin: 10px;
}

.recipe__picture-container {
  display: inline-block;
  width: 300px;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

.recipe__picture-image {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  border-radius: 20px 20px 0px 0px;
}
.recipe__picture-placeholder {
  width: 100%;
  height: 100%;
  background-color: #6c38a8;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  z-index: 1;
}

.recipe__author {
  font-size: 14px;
  margin: 10px;
  text-align: center;
}

.recipe__icon-share {
  font-size: 16px;
  margin: 10px;
  text-align: center;
}
