.backdrop {
  width:100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.5);
  z-index:1000;
  position:fixed;
  top:0;
  left:0;
  display: inline-block;

}

.sidedrawer {
  width: 300px;
  height: 100vh;
  background-image: var(--main-navbar-gradient);
  /* background-color: var(--secondary-navbar-color); */
  z-index: 1001;
  position: fixed;

}


.sidedrawer__menu-item {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;  }
  
  /* links styling */
  
  .sidedrawer__menu-link {
  
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-transform: uppercase;
  }
  
  .sidedrawer__menu-link:hover, .sidedrawer__menu-active  {
    background-color: var(--main-navbar-color);
    color: white;
  }
  
  .sidedrawer__menu-logout {
    background-color: var(--secondary-danger-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-transform: uppercase;
  }
  .sidedrawer__menu-logout:hover {
    background-color: var(--main-danger-color);
    color: white;
  }
  
  .sidedrawer__menu-login {
    background-color: var(--secondary-positive-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-transform: uppercase;
  }
  .sidedrawer__menu-login:hover {
    background-color: var(--main-positive-color);
    color: white;
  }
