.container-hub {
  background: #563879;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(88, 88, 88, 0.1);
  color: white;
  flex: 0 0 auto;
  margin: 20px;
  width: 80%;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-hub__element-sort {
  display: inline-flex;
  color: red;
  margin: 0 80px;
}
