


.container-register {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10vh;
  width:320px;
  color:white;

}



/* Add padding to containers */
.container-register__header {
  padding: 16px;
  background-image: var(--main-navbar-gradient);
  width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Full-width input fields */
.form-register__input-password, .form-register__input-email {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgba(255, 255, 255, 0.2);
}

.form-register__input-password:focus, .form-register__input-email:focus {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
}


/* Set a style for the submit button */
.form-register__button {
  background-color: var(--secondary-positive-color);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form-register__button:hover {
  background-color: var(--main-positive-color);
  opacity: 1;
}

/* Add a blue text color to links */
.form-register__footer-link {
  color: rgb(102, 10, 87);
  font-weight: bold;
}

/* Set a grey background color and center the text of the "sign in" section */
.form-register__footer {
  /* background-color: #f1f1f1; */
  text-align: center;
}

.container-register__message-success {
  color: green;
  font-size: 15px;
  height:40px;
  padding-top:20px;
}
.container-register__message-fail {
  color: red;
  font-size: 15px;
  height:40px;
  padding-top:20px;
}

.container-register__loader-circle {

  border: 3px solid #7c7c7c; /* Light grey */
  border-top: 3px solid #191a1a; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}