* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--main-body-gradient);
  background-repeat: no-repeat;
  min-height: 100vh;
  width:100%;
  box-sizing: border-box;
}

:root {
  --main-navbar-color: #6e2db9;
  --secondary-navbar-color: #47355A;
  --main-navbar-gradient: linear-gradient(15deg, #563879 0%, #47355A 100%);
  /* --main-body-gradient: linear-gradient(15deg, #2b2b2b 0%, #363138 100%); */
  --main-body-gradient: linear-gradient(15deg, #b0aabb 0%, #d5caec 100%);
  --main-danger-color: #e90d0d;
  --secondary-danger-color: #e74141;
  --main-positive-color: #11A311;
  --secondary-positive-color: #1E801E;
}
